<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= link_to image_tag(@user.avatar, size: 200), edit_user_path(current_user) if current_user.avatar? && current_user == @user %>
        <%= image_tag @user.avatar, size: 200 if @user.avatar? && current_user != @user %>
        <%= gravatar_for @user unless @user.avatar? %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>