<!DOCTYPE html>
<html>
  <head>
    <title>Aleksander Woźniak</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Dosis:400,700,800" rel="stylesheet">
    <%= stylesheet_link_tag    'curriculum', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.wozniakalex.com"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats15.mydevil.net/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '28']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//stats15.mydevil.net/piwik.php?idsite=28" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </head>

  <body class="cv">
    <%= yield %>
  </body>
</html>
